/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-abr-2020, 18:39:30
    Author     : Jenifer
*/


/* PARA TODO EL DOCUMENTO */
* {
    
}

body {
    background: url("../imagenes/fondo.jpg");
}

table,th,td {
    background-color: #fcf9f0;
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
}

th {
    font-size: 18px;
}

input {
    font-size: 18px;
}



/* ---------------------------------------------------------------------------*/
/*-----------------------------MENÚ PRINCIPAL---------------------------------*/

/* LOGO PRINCIPAL */
#logomenu {
    display: block;
    margin: auto;
    width: 32%;
    height: 32%;
}


/* PARA TODOS LOS BOTONES */
 .boton_personalizado{
    color: black;
    background: transparent;
    border-radius: 6px;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: black; 
    border: 2px solid black;
    background-color: #FBF5EF;
  }
  
.boton_personalizado:hover {
      background-color: black;
      color: white;
 }


/* BOTÓN IZQUIERDO */
#bizquierdo{
    position: relative;
    margin-left: 22%;
    font-size: 20px;
}


/* BOTÓN DEL MEDIO */
#bcentro{
    position: relative;
    margin-left: 14%;
    margin-right: 14%;
    font-size: 20px;
}


/* BOTÓN DERECHO */
#bderecho{
    position: relative;
    font-size: 20px;
}


#boton_configuracion{
    text-align: center;
    color: black;
    background: transparent;
    color: white;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    color: black; 
  }


/* PÁRRAFOS */
p.pindex{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 5px;
}


/* IMÁGENES */

/* Imagen izquierda */
#iizquierda{
    height: 80px;
    width: 80px;
    display:inline;
    margin-left: 41%;
    margin-bottom: 0;
}


/* Imagen central */
#icentro{
    height: 75px;
    width: 75px;
    display:inline;
    margin-left: 2.5%;
    margin-right: 2%;
}


/* Imagen derecha */
#iderecha{
    height: 80px;
    width: 80px;
    display:inline;
}


/* CREATIVE COMMONS */
#cc{
    display: block;
    margin: auto;
    height: 8%;
    width: 8%;
    margin-top: 1%;
}


/* --------------------------------------------------------------------------- */
/*---------------------------------PAREJAS-------------------------------------*/
#logopareja {
    display: inline;
    width: 24%;
    height: 24%;
}


#titulop{
    display: inline;
    border: 3px solid black;
    font-weight: bold;
    font-size: 30px;
    padding: 20px;
    position: absolute;
    margin-top: 80px;
    margin-left: 15%;
    background-color: #f4ead0;
}


#botonMenuPrincipal{
    border: 1px solid black;
    text-decoration: none;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: white;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#9b9b9b),to(black));
}

#botonMenuPrincipal:hover, #botonMenuPrincipal:focus {
    background-color: green;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,black),to(#9b9b9b));
}

#botonMenuPrincipal:active{
    background-color: green;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#9b9b9b),to(black));
}



/*----------------------------modificarPareja------------------------------*/
fieldset{
    margin:2%;
    width: 50%;
    margin: auto;
}

legend{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    
}

/*----------------------------insertarPareja------------------------------*/
.pF{
    font-weight: bold;
    font-size: 22px;
}

.iF{
    margin-left: 2px;
    position:relative;
    text-align:center;
}

fieldset {
    background: rgba(252,249,240,1);
    background: -moz-linear-gradient(left, rgba(252,249,240,1) 0%, rgba(252,249,240,0.65) 37%, rgba(182,141,76,0.06) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(252,249,240,1)), color-stop(37%, rgba(252,249,240,0.65)), color-stop(100%, rgba(182,141,76,0.06)));
    background: -webkit-linear-gradient(left, rgba(252,249,240,1) 0%, rgba(252,249,240,0.65) 37%, rgba(182,141,76,0.06) 100%);
    background: -o-linear-gradient(left, rgba(252,249,240,1) 0%, rgba(252,249,240,0.65) 37%, rgba(182,141,76,0.06) 100%);
    background: -ms-linear-gradient(left, rgba(252,249,240,1) 0%, rgba(252,249,240,0.65) 37%, rgba(182,141,76,0.06) 100%);
    background: linear-gradient(to right, rgba(252,249,240,1) 0%, rgba(252,249,240,0.65) 37%, rgba(182,141,76,0.06) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcf9f0', endColorstr='#b68d4c', GradientType=1 );
}

#botonInsertarPareja{
    background-color: grey;
    font-size: 18px;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    position:relative;
    padding: 10px;
    font-weight: bold;
}

#botonInsertarPareja:hover{
    background-color: white;
    color: black;
}

#tInsertado{
    text-align: center;
    color: mediumaquamarine;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    font-size: 50px;
    
}

#tError{
    text-align: center;
    color: tomato;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    font-size: 50px;
}

.botonesInsertarPD{
    background-color: #c3c3c3;
    font-size: 18px;
    font-weight: bold;
    width: 150px;
    height: 50px;
}

.botonesInsertarPD:hover{
    color:white;
}

/*----------------------------insertarPareja------------------------------*/

#paviso{
    font-size: 25px;
    font-weight: bold;
}

/*------------------------resumenComisionesParejas---------------------------*/
#tablaComisiones{
    width: 29%;
    font-size: 27px;
}

#pNoComisiones {
    font-size: 40px;
    font-weight: bold;
}

.tituloTablaC {
    font-weight: bold; 
    font-size: 25px; 
    background-color: #f4ead0
}

.captionTablaC {
    font-weight: bold; 
    background-color: #d7cab1; 
    border-top: 3px solid black; 
    font-size: 25px;
    border-left: 3px solid black; 
    border-right: 3px solid black;
}


/* --------------------------------------------------------------------------- */
/*---------------------------------VESTIDOS------------------------------------*/

#botonInsertarVestido{
    background-color: grey;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    font-size: 18px;
    position:relative;
    padding: 10px;
    font-weight: bold;
}

#botonInsertarVestido:hover{
    background-color: white;
    color: black;
}

.botonesInsertarVD{
    background-color: #c3c3c3;
    font-size: 18px;
    font-weight: bold;
    width: 170px;
    height: 50px;
}

.botonesInsertarVD:hover{
    color:white;
}




/* --------------------------------------------------------------------------- */
/*---------------------------------COMPRAS-------------------------------------*/
#f1{
    width: 50%;
    float: left;
    position:absolute;
    left: 60px;
    top:270px;

}

#f2{
    width: 50%;
    float:right;
    position:absolute;
    right: 60px;
    top:270px;

}

#f3{
    float:bottom;
    margin-top:300px;
}

#tablaComisionesCompras {
    margin: auto; 
    width: 680px; 
    font-size: 20px;
}

.thCompras {
    font-size: 20px;
}


/*------------------------resumenComisionesCompras---------------------------*/
.tituloTablaCC {
    font-weight: bold; 
    font-size: 25px; 
    background-color: #d7cab1;
}









/* --------------------------------------------------------------------------- */
/*------------------------------CONFIGURACIÓN----------------------------------*/

input.inputComi {
    font-size: 18px;
    background-color: transparent;
    text-align:center;
}
